<%= render 'shared/navbar_es' %>

<br>
	<h1>Contact Us</h1>
	<p> También nos dedicamos al diseño web, he aquí una muestra de lo que podemos hacer </p>
	
	<p> Put </p>
	
	        <%= image_tag "pinterested.png", width: 800  %>
