<%= render 'shared/navbar_en' %>
<br>
<div class="container">
	<h1>Estrutecnia</h1>
<p>Here is a sample of what we can do</p>

<div class="container">
<br>
		        <%= image_tag "pinterested.png", width: 800  %>
<% if render='shared/navbar_es' %>
	<p> <br> Don't forget to contact us, for more information</p>
	<% else %>
	<p> Put </p>
	<% end %>