.logo {
    display: block;
    height: auto;
    width: 52px;
    padding-top: 5px;
    margin-right: 15px;
}

#pins {
    margin: 0 auto;
}

.box {
    margin: 5px;
    width: 214px;
}

.box img {
    width: 100x;
}

$ ->
    $('#pins').imagesLoaded ->
        $('#pins').masonry
            itemSelector: '.box'
            isFitWidth: true
#masonry-container {
  background: #FFF;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.col1 { width: 80px; }
.col2 { width: 180px; }
.col3 { width: 280px; }
.col4 { width: 380px; }
.col5 { width: 480px; }
.col6 { width: 380px; }
.col7 { width: 380px; }
.col8 { width: 380px; }

.col1 img { max-width: 80px; }
.col2 img { max-width: 180px; }
.col3 img { max-width: 280px; }
.col4 img { max-width: 380px; }
.col5 img { max-width: 480px; }
.col6 img { max-width: 480px; }
.col7 img { max-width: 480px; }
.col8 img { max-width: 480px; }