:root{
	--bg-color: #FFFFFF
}
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	width: 1400px;
	margin: 20px auto;
	column-gap: 40px;


}

.box {
	width: 450px;
	padding: 20px;
	background-color: #f1f1f1;
	border: 1px solid grey;
	float: left;
	margin: 10px;
	margin-bottom: 10px;
	break-inside: avoid;

}

.box img {
	width: 200%;
	height: 170px;
	object-fit: contain;
	border-radius: 15px;
}
.container .box img
{
	max-width: 100%;
	border-radius: 30px;
}

.boxo {
	width: 350px;
	padding: 20px;
	background-color: #f1f1f1;
	border: 1px solid grey;
	float: left;
	margin: 10px;
	margin-bottom: 10px;
	break-inside: avoid;

}

.boxo img {
	width: 200%;
	height: 270px;
	object-fit: contain;
	border-radius: 15px;
}
.container .boxo img
{
	max-width: 100%;
	border-radius: 30px;
}
